body {
	background: #4CCFFD;
	color: #212121;
	font-weight: 300;
	background: url('../img/O14A0456.jpg') center center fixed;
	background-size: cover;
}
h1 {
	font-size: 1.5rem; 
	font-weight: 700;
	color: #212121;
	margin-top: 20%;
	margin-bottom: 4rem;
}
h1 span {
	display: block;
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: #313131;
	margin-top: .5rem;
}
div.table {
	position: absolute;
	top: 40px;
	left: 40px;
}
table {
	border-collapse: collapse;
	background: rgba(255,255,255, .6);
	border:0;
}
thead tr {
	
}
table tr td {
	min-width: 50px;
    text-align: right !important;
}
.input-wrapper {
	margin: 1.5rem;
}
input {
	border: 0;
	font-family: 'Roboto Slab', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 300;
	color: #212121;
	max-width: 200px;
	background: #4CCFFD;
	background: transparent;
	padding: .15rem;
	border-bottom: 1px solid #414141;
	-webkit-appearance: none;
}
input:focus {
	outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
::-webkit-input-placeholder {
  color: #212121;
}
:-moz-placeholder {
  color: #212121;
}
::-moz-placeholder {
  color: #212121;
}
:-ms-input-placeholder {
  color: #212121;
}
span.custom-root-label {
	font-size: .875rem;
}
input.custom-root {
	font-size: .875rem;
	font-weight: 400;
	line-height: .875rem;
    text-align: right;
	width: 20px;
}
a {
	text-decoration: underline;
	color: #212121;
}
a:hover {
	text-decoration: none; 
	color: #414141;
}

@media only screen and (max-width: 50em) {
	input {
		width: 100%;
		max-width: initial;
	}
	div.table {
		position: relative;
		top: 4rem;
		left: 0;
		margin-bottom: 2rem;
	}
	table {
		margin: 0 auto;
	}
	table tr, table td {
		font-size: .875rem !important;
	}
	table tr td {
		min-width: 100px;
        text-align: right !important;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */






