body {
	color: white;
	font-weight: 300;
	background: #4CCFFD;
	background: url('../img/photo-1417870839255-a23faa90c6b0.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
h1 {
	font-size: 1.5rem; 
	font-weight: 700;
	color: white;
	margin-top: 15%;
	margin-bottom: 4rem;
	span {
		display: block;
		font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		font-size: 1rem;
		font-weight: 300;
		color: white;
		margin-top: .5rem;
	}
}
div.table {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
}
table {
	border-collapse: collapse;
	background: rgba(255,255,255, .1);
	border:0;
	color: white;

	thead tr th {
	color: white !important;
	}
	tr td {
		min-width: 50px;
	    text-align: right !important;
	    color: white;
	}
}

.input-wrapper {
	margin: 1.5rem;
}
input[type="tel"] {
	border: 0;
	font-family: 'Roboto Slab', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 300;
	color: white;
	max-width: 175px;
	background: #4CCFFD;
	background: transparent;
	padding: .15rem;
	border-bottom: 1px solid white;
	-webkit-appearance: none;
}
input[type="tel"]:focus {
	outline: none;
}
input[type="tel"]::-webkit-outer-spin-button,
input[type="tel"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
::-webkit-input-placeholder {
  color: white;
}
:-moz-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
span.custom-root-label {
	font-size: .875rem;
}
input[type="tel"].custom-root {
	font-size: .875rem;
	font-weight: 400;
	line-height: .875rem;
    text-align: right;
	width: 20px;
}
a {
	text-decoration: underline;
	color: white;
}
a:hover {
	text-decoration: none; 
	color: #f0f0f0;
}

@media only screen and (max-width: 50em) {
	input[type="tel"] {
		width: 100%;
		max-width: initial;
	}
	div.table {
		position: relative;
		top: 4rem;
		left: 0;
		margin-bottom: 2rem;
	}
	table {
		margin: 0 auto;
	}
	table tr, table td {
		font-size: .875rem !important;
	}
	table tr td {
		min-width: 100px;
        text-align: right !important;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */






